<subheader>
	<nav class="round">
		<ul id="menu">
			<li><%= link_to "New Registration", newregistration_path %></li>
			<li><%= link_to "Listing", registrations_path %></li>
			<li><%= link_to "Find Registration", findregistration_path %></li>
<!--
			<li><%= link_to "Emails", '#', :class => "fly" %>
				<ul>
					<li><%= link_to "Preferred", excelemails_path %></li>
					<li><%= link_to "Parents", excelparentemails_path %></li>
					<li><%= link_to "Athletes", excelathleteemails_path %></li>
				</ul>
			</li>
-->
		</ul>
	</nav>
</subheader>
