<% require 'application_helper' %>
<%= render 'navigation' %>

<subsection>
<h1>Registrations</h1>
<% if !notice.nil? %>
<p id="notice"><%= notice %></p>
<% end %>

<%= form_tag @search, :method => 'get' do %>
    <p>
	<div class="field">
	  <%= label_tag 'season_id', 'Season:' %>
  	  <%= select_tag :season_id, options_from_collection_for_select(Season.all, :id, :name, params[:season_id].to_i) %>
  	  <%= submit_tag "Go", :name => nil, :class => "search-button" %>
	</div>
    </p>
  <% end %>

<% if (@registrations.count > 0) %>
<ul>
	<li>
<%= link_to 'Export List', excelexport_path(:first_name => params[:first_name], :last_name => params[:last_name], :email => params[:email], :season_id => params[:season_id]) %>
</li>
<li>
<%= link_to "Export Preferred Emails", excelemails_path(:first_name => params[:first_name], :last_name => params[:last_name], :email => params[:email], :season_id => params[:season_id]) %>
</li>
<li>
<%= link_to "Export Parents Emails", excelparentemails_path(:first_name => params[:first_name], :last_name => params[:last_name], :email => params[:email], :season_id => params[:season_id]) %>
</li>
<li>
<%= link_to "Export Athletes Emails", excelathleteemails_path(:first_name => params[:first_name], :last_name => params[:last_name], :email => params[:email], :season_id => params[:season_id]) %>
</li>
</ul>
<table id="registration_table">
  <tr>
    <th>Last Name</th>
    <th>First Name</th>
    <th>Season</th>
    <th>Created</th>
    <th>Updated</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @registrations.each do |reg| %>
  <tr>
    <td><%= reg.participant.last_name.truncate(30) %></td>
    <td><%= reg.participant.first_name.truncate(30) %></td>
    <td><%= reg.season.name %></td>
    <td><%= reg.created_at.getlocal.strftime '%m-%d-%Y %I:%M %p' %></td>
    <td><%= reg.maximum_updated_at.getlocal.strftime '%m-%d-%Y %I:%M %p' %></td>
	<td><%= link_to 'Edit', editregistration_path(:id => reg.id) %></td>
    <td><%= link_to 'Show', registration_path(reg) %></td>
    <td><%= link_to 'Delete', deleteregistration_path(:id => reg), :confirm => 'Are you sure you want to delete this registration?' %></td>
  </tr>
<% end %>
</table>

<br />
<% end %>
</subsection>
