<%= render 'navigation' %>

<subsection>
<h1>Registration</h1>
<% if !notice.nil? %>
<p id="notice"><%= notice %></p>
<% end %>

<%= link_to 'Edit', editregistration_path(:id => @registration.id) %> <br/>
<%= form_for(@registration) do |f| %>
  <div class="field">
    <%= f.label :season_id, 'Season' %>
  	<%= @registration.season.name %> 
  </div>

	<h2>ATHLETE:</h2>
	<%= f.fields_for :participant do |part_form| %>
	    <div class="field">
	      <%= part_form.label :first_name %>
	      <%= part_form.text_field :first_name, :maxlength => "50", :disabled => "disabled", :style => "border: none" %>
	    </div>
	    <div class="field">
	      <%= part_form.label :last_name %>
	      <%= part_form.text_field :last_name, :maxlength => "50", :disabled => "disabled", :style => "border: none" %>
	    </div>
	    <div class="field">
          <%= part_form.label :gender_id, 'Gender' %>
          <% if !@registration.participant.gender.nil? %>
  	        <%= @registration.participant.gender.name %>
  	      <% end %>
	    </div>
	    <div class="field">
	      <%= part_form.label :date_of_birth %>
	      <%= @registration.participant.date_of_birth.strftime '%m-%d-%Y' %>
	    </div>
	    <div class="field">
	      <%= part_form.label :street_address %>
	      <%= part_form.text_field :street_address, :maxlength => "75", :disabled => "disabled", :style => "border: none"  %>
	    </div>
	    <div class="field">
	      <%= part_form.label :city %>
	      <%= part_form.text_field :city, :maxlength => "50", :disabled => "disabled", :style => "border: none" %>
	      <%= part_form.label :state %>
	      <%= part_form.text_field :state, :maxlength => "2", :disabled => "disabled", :style => "border: none" %>
	      <%= part_form.label :zip %>
	      <%= part_form.text_field :zip, :maxlength => "10", :disabled => "disabled", :style => "border: none" %>
	    </div>
	    <div class="field">
	      <%= part_form.label :subdivision %>
	      <%= part_form.text_field :subdivision, :maxlength => "50", :disabled => "disabled", :style => "border: none" %>
	    </div>
	    <div class="field">
	      <%= part_form.label :school %>
	      <%= part_form.text_field :school, :maxlength => "50", :disabled => "disabled", :style => "border: none" %>
	      <%= part_form.label :grade %>
	      <%= @registration.participant.grade %>
	    </div>
	    <div class="field">
	      <%= part_form.label :home_phone %>
	      <%= part_form.telephone_field :home_phone, :maxlength => "25", :disabled => "disabled", :style => "border: none" %>
	    </div>
	    <div class="field">
	      <%= part_form.label :cell_phone, "Athlete's Cell Phone" %>
	      <%= part_form.telephone_field :cell_phone, :maxlength => "25", :disabled => "disabled", :style => "border: none" %>
	      <%= part_form.label :email %>
	      <%= part_form.text_field :email, :maxlength => "50", :disabled => "disabled", :style => "border: none" %>
	    </div>
	    <div class="field">
	      <%= part_form.label :preferred_parent_email %>
	      <%= part_form.text_field :preferred_parent_email, :maxlength => "50", :disabled => "disabled", :style => "border: none" %>
	    </div>
<br/>
	<h2>PARENTS:</h2>
	    <div class="field">
	      <%= part_form.label :fathers_name %>
	      <%= part_form.text_field :fathers_name, :maxlength => "60", :disabled => "disabled", :style => "border: none" %>
	    </div>
	    <div class="field">
	      <%= part_form.label :fathers_work_phone %>
	      <%= part_form.telephone_field :fathers_work_phone, :maxlength => "25", :disabled => "disabled", :style => "border: none" %>
	    </div>
	    <div class="field">
	      <%= part_form.label :fathers_cell_phone %>
	      <%= part_form.telephone_field :fathers_cell_phone, :maxlength => "25", :disabled => "disabled", :style => "border: none" %>
	    </div>
	    <div class="field">
	      <%= part_form.label :fathers_email %>
	      <%= part_form.text_field :fathers_email, :maxlength => "50", :disabled => "disabled", :style => "border: none" %>
	    </div>
	    <div class="field">
	      <%= part_form.label :mothers_name %>
	      <%= part_form.text_field :mothers_name, :maxlength => "60", :disabled => "disabled", :style => "border: none" %>
	    </div>
	    <div class="field">
	      <%= part_form.label :mothers_work_phone %>
	      <%= part_form.telephone_field :mothers_work_phone, :maxlength => "25", :disabled => "disabled", :style => "border: none" %>
	    </div>
	    <div class="field">
	      <%= part_form.label :mothers_cell_phone %>
	      <%= part_form.telephone_field :mothers_cell_phone, :maxlength => "25", :disabled => "disabled", :style => "border: none" %>
	    </div>
	    <div class="field">
	      <%= part_form.label :mothers_email %>
	      <%= part_form.text_field :mothers_email, :maxlength => "50", :disabled => "disabled", :style => "border: none" %>
	    </div>
	    <div class="field">
	      <%= part_form.label :nearest_relative_name %>
	      <%= part_form.text_field :nearest_relative_name, :maxlength => "60", :disabled => "disabled", :style => "border: none" %>
	    </div>
	    <div class="field">
	      <%= part_form.label :nearest_relative_phone %>
	      <%= part_form.telephone_field :nearest_relative_phone, :maxlength => "25", :disabled => "disabled", :style => "border: none" %>
	    </div>
	    <div class="field">
	    <p><%= part_form.label :special_precautions, 'List any precautions:' %></p>
	    <p><%= part_form.text_area :special_precautions, :disabled => "disabled" %></p>
	    </div>

  <h2>UNIFORMS:</h2>
  <div class="field">
    <%= f.label :uniform_size_id, 'Uniform Size' %>
    <% if !@registration.uniform_size_id.nil? %>
  	  <%= @registration.uniform_size.name %> 
    <% end %>
  </div>
  <div class="field">
    <%= f.label :shirt_size_id, 'Shirt Size' %>
    <% if !@registration.shirt_size_id.nil? %>
    	<%= @registration.shirt_size.name %> 
    <% end %>
  </div>
<br/>
  <h2>MEDICAL RELEASE INFORMATION:</h2>
	    <div class="field">
	      <%= part_form.label :parent_legal_guardian, 'Parent or Legal Guardian' %>
	      <%= part_form.text_field :parent_legal_guardian, :maxlength => "60", :disabled => "disabled", :style => "border: none" %>
	    </div>
	    <div class="field">
	      <%= part_form.label :emergency_contact_name %>
	      <%= part_form.text_field :emergency_contact_name, :maxlength => "60", :disabled => "disabled", :style => "border: none" %>
	    </div>
	    <div class="field">
	      <%= part_form.label :emergency_contact_phone %>
	      <%= part_form.telephone_field :emergency_contact_phone, :maxlength => "25", :disabled => "disabled", :style => "border: none" %>
	    </div>
<br/>
	    <div class="field">
	    <p><%= part_form.label :medication_in_athletes_possession, "Medication in athlete's Possession:" %></p>
	    <p><%= part_form.text_area :medication_in_athletes_possession, :disabled => "disabled" %></p>
	    </div>
	    <div class="field">
	    <p><%= part_form.label :pertinent_medical_history, "List any pertinent medical history or chronic medical problems:" %></p>
	    <p><%= part_form.text_area :pertinent_medical_history, :disabled => "disabled" %></p>
	    </div>
<p><b>Medical Insurance:</b></p>
	    <div class="field">
	      <%= part_form.label :medical_insurance_company %>
	      <%= part_form.text_field :medical_insurance_company, :maxlength => "60", :disabled => "disabled", :style => "border: none" %>
	    </div>
	    <div class="field">
	      <%= part_form.label :name_of_insured %>
	      <%= part_form.text_field :name_of_insured, :maxlength => "60", :disabled => "disabled", :style => "border: none" %>
	    </div>
	    <div class="field">
	      <%= part_form.label :policy_or_group_number %>
	      <%= part_form.text_field :policy_or_group_number, :maxlength => "25", :disabled => "disabled", :style => "border: none" %>
	    </div>
	    <div class="field">
	      <%= part_form.label :medical_insurance_id_number, "ID Number" %>
	      <%= part_form.text_field :medical_insurance_id_number, :maxlength => "25", :disabled => "disabled", :style => "border: none" %>
	    </div>

  <h2>EVENT SELECTION:</h2>
  <% if !@registration.event_discipline_id.nil? %>
  <div class="field">
    <%= f.label :event_discipline_id, 'Primary Event' %>
  	<%= @registration.event_discipline.name %> 
  </div>
  <% end %>
  <% loop = 0 %>
  <% current_gender = nil %>
  <% event_type_name = nil %>
    <%= f.fields_for :event_selections do |event_fields| %>
	  <% if (current_gender.nil? || current_gender != @registration.event_selections[loop].event.gender)%>
	    <% current_gender = @registration.event_selections[loop].event.gender %>
	    <% if (@registration.event_selections[loop].event.gender.is_male?) %>
	    	<br/><event_gender>BOYS</event_gender>
	    <% else %>
	    	<br/><event_gender>GIRLS</event_gender>
	    <% end %>
	  <% end %>
      <div class="field">
    	<%= event_fields.hidden_field :event_id %>
	  <% if (event_type_name.nil? || event_type_name != @registration.event_selections[loop].event.event_type.name)%>
	    <% event_type_name = @registration.event_selections[loop].event.event_type.name %>
	    <br/><event_type><%= @registration.event_selections[loop].event.event_type.name%>:</event_type><br/>
	  <% end %>
    	<%= event_fields.check_box :selected, :disabled => "disabled" %>
    	<%= event_fields.text_field :name, :size => "100", :disabled => "disabled", :style => "border: none" %>  
      </div>
      <% loop = loop + 1 %>
    <% end %>
	    
  <h2>PARENT VOLUNTEER INFORMATION:</h2>
Please select the area(s) in which you are willing to help out:
    <%= f.fields_for :volunteer_selections do |volunteer_fields| %>
      <div class="field">
    	<%= volunteer_fields.hidden_field :volunteer_interest_id %>
    	<%= volunteer_fields.check_box :selected, :disabled => "disabled" %>
    	<%= volunteer_fields.text_field :name, :size => "100", :disabled => "disabled", :style => "border: none" %>  
      </div>
      <% loop = loop + 1 %>
    <% end %>
  <% end %>
<% end %>
<br/><%= link_to 'Edit', editregistration_path(:id => @registration.id) %>
</subsection>
