<%= render 'navigation' %>

<subsection>
<h1>Registration</h1>
<p id="notice"><%= notice %></p>

<%= link_to 'Edit', editregistration_path(:id => @registration.id) %> <br/>
<div class="field">
  <b>Season:</b>
  <%= @registration.season.name %>
</div>
<div class="field">
  <b>First Name:</b>
  <%= @registration.participant.first_name %>
</div>
<div class="field">
  <b>Last Name:</b>
  <%= @registration.participant.last_name %>
</div>
</subsection>
