<% if !notice.nil? %>
<p id="notice"><%= notice %></p>
<% end %>
<p>
  <b>Name:</b>
  <%= @event.name %>
</p>
<p>
  <b>Type:</b>
  <%= @event.event_type.name %>
</p>
<p>
  <b>Gender:</b>
  <%= @event.gender.name %>
</p>
<p>
  <b>Active?:</b>
  <%= @event.active %>
</p>

<%= link_to 'Back', events_path %>
